{% extends 'base.html' %}


{% block head %}
<title>Pragmatech Blogs| All Blogs</title>
{% endblock %}

{% block body %}
<div class="container">
    <!-- Begin List Posts
	================================================== -->
    <section class="recent-posts">
        <div class="section-title">
            <h2><span>All Blogs</span></h2>
        </div>
        <div class="row listrecent">
            <div class="col-xl-12 col-md-12">
                <div id="blog_post_wrapper" class="row">
                    
                    {% for id, data in all_blogs.items() %} 
                        <div label = "blog_post" class="col-cl-4 col-md-4 post-box">
                            <input label = "card_id" type="hidden" value="{{id}}">
                            <!-- begin post -->
                            <!-- id : article_object, writer_object,  -->
                            <div style="margin-top: 30px;" class="card">
                                <a href="/blog/{{id}}">
                                    <img style="height: 200px;" class="img-fluid" src="{{url_for('static', filename=all_blogs[id][0].cover_photo)}}" alt="">
                                </a>
                                <div class="card-block">
                                    <h2 class="card-title"><a href="/blog/{{id}}">{{all_blogs[id][0].title| truncate(50)}}</a></h2>
                                    <h4 class="card-text">{{ all_blogs[id][0].content| truncate(150, False, '...', 0) | safe }}</h4>
                                    <div class="metafooter">
                
                                        <div class="wrapfooter">
                                            <span class="meta-footer-thumb">
                                                <a href="author.html"><img class="author-thumb"
                                                        src="{{url_for('static', filename=all_blogs[id][1].profile_pic)}}"
                                                        alt="Sal"></a>
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name">{{all_blogs[id][1].name}} {{all_blogs[id][1].surname}}<a href="author.html"></a></span><br />
                                                <span
                                                    class="post-date">{{all_blogs[id][0].date_created.strftime('%d-%m-%Y')}}</span><span
                                                    class="dot"></span><span class="post-read">{{all_blogs[id][0].read_time}} min read</span>
                                            </span>
                                            <span class="post-read-more"><a href="/blog/{{id}}" title="Read Story"><svg
                                                        class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                                                        <path
                                                            d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                                                            fill-rule="evenodd"></path>
                                                    </svg></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end post -->
                        </div>
                        
                    {% endfor %}        
                </div>
                
                <div class="col-xl-12">
                    <div class="btn_area text-center">
                        <a href="#"  id="load_more_btn" class="btn boxed-btn btn-light">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}





{% block script %}
<script>
    $('#load_more_btn').on('click', function(e){
        e.preventDefault()
        var blog_list = $('[label="blog_post"]');
        var last_blog_id = $(blog_list[blog_list.length-1]).find('input[label="card_id"]').val()
        //var _currentResult = $(".post-box").length

        $.ajax({
            url: '{{ url_for("load") }}',
            type: 'POST',
            data: {
                'last_blog_id' : last_blog_id,
            },
            beforeSend: function(){
                $('#load_more_btn').addClass('disabled').text('Loading...')
            },
            success:function(argResponse){
                newHtml = ''
                tempList = []


                for (var id in argResponse) 
                {    
                    tempList.push(parseInt(id))                                                               
                }

                console.log('Evvel: ' + tempList)
                
                tempList = tempList.reverse()

                console.log(tempList[tempList.length - 1])
                
                for (var i = 0; i < tempList.length; i++) 
                {
                    if (argResponse.hasOwnProperty(tempList[i])) 
                    {    
                        tempHtml = `
                        <div label = "blog_post" class="col-cl-4 col-md-4">
                        <input label = "card_id" type="hidden" value="${tempList[i]}">
                        <!-- begin post -->
                        <!-- id : article_object, writer_object,  -->
                        <div style="margin-top: 30px;" class="card">
                            <a href="/blog/${tempList[i]}">
                                <img style="height: 200px;" class="img-fluid" src="/static/${argResponse[tempList[i]][2]}" alt="">
                            </a>
                            <div class="card-block">
                                <h2 class="card-title"><a href="/blog/${tempList[i]}">${argResponse[tempList[i]][0]}</a></h2>
                                <h4 class="card-text">${argResponse[tempList[i]][1]}</h4>
                                <div class="metafooter">
            
                                    <div class="wrapfooter">
                                        <span class="meta-footer-thumb">
                                            <a href="author.html"><img class="author-thumb"
                                                    src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
                                                    alt="Sal"></a>
                                        </span>
                                        <span class="author-meta">
                                            <span class="post-name">${argResponse[tempList[i]][3]} ${argResponse[tempList[i]][4]}<a href="author.html"></a></span><br />
                                            <span
                                                class="post-date">${argResponse[tempList[i]][5]}</span><span
                                                class="dot"></span><span class="post-read">6 min read</span>
                                        </span>
                                        <span class="post-read-more"><a href="post.html" title="Read Story"><svg
                                                    class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                                                    <path
                                                        d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                                                        fill-rule="evenodd"></path>
                                                </svg></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end post -->
                    </div>`
                        newHtml += tempHtml
                    }
                                                                                                  
                }
                
                $('#blog_post_wrapper').append(newHtml)
                if(tempList[tempList.length - 1] == undefined){
                    $('#load_more_btn').remove();
                }else{
                    $('#load_more_btn').removeClass('disabled').text('Load More')
                }
            }

        })



    });

    

</script>

{% endblock %}
